/** @format */

@import "@/styles/variables.scss";

.history_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  & > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 3%;
    color: $text-primary;
    flex-grow: 1;
    margin-right: 12px;
  }
}
