/** @format */
@import "@/styles/variables.scss";

.search_panel {
  position: fixed;
  padding: 90px 20px 20px 20px;
  min-width: 100vw;
  height: 100vh;
  overflow: auto;
  background: $main-background;
  z-index: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;

  & > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 3%;
    color: $disable-color;
  }
}

.clear_button {
  &:hover {
    color: $text-secondary;
    text-decoration: underline;
  }
}

.divider {
  height: 2px;
  background-color: $divider;
  margin: 16px 0;
}
